@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gradient: linear-gradient(50deg, orange, #7d6060);
}

body {
    font-family: "SourceCodePro", monospace;
    background-image: linear-gradient(90deg, #040431, #21032B);
}


@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../fonts/SourceCodePro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../fonts/SourceCodePro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../fonts/SourceCodePro-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../fonts/SourceCodePro-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'SourceCodePro', monospace;
    src: url('../fonts/SourceCodePro-ExtraBold.ttf');
    font-weight: 800;
}

.networks-gradient {
    background-image: var(--bg-gradient);
}

.info-gradient {
    background-image: var(--bg-gradient);
    animation: moving-bg 3.5s ease-in-out infinite alternate-reverse;
}

@keyframes moving-bg {
    from {
        background-image: linear-gradient(90deg, #7d6060, orange);
    }
    to {
        background-image: linear-gradient(90deg, #8d4646, rgb(195, 134, 20));

    }
}